* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout classes */
.row {
    display: flex;
}

.col-50 {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.col-100 {
    width: 100%;
}

.col-33 {
    width: calc(100% / 3);
    flex-direction: column;
}

/* styling classes */
body {
    font-family: "Open Sans", sans-serif;
}

.list-header {
    display: flex;
    list-style: none;
    align-items: center;
}

.list-header li {
    padding: 20px;
}

.cnt-right {
    justify-content: right;
}

h1 {
    text-align: start;
    font-size: 70px;
}

.btn {
    padding: 10px 15px;
    border-style: none;
}

.bt-blue {
    background-color: #0161FF;
}

.ft-white {
    color: #fff;
}

.wrap-lightblue {
    background-color: #B4D0E7;
    background-color: ;
}

.content-center {
    width: 1200px;
    margin: 0 auto;
}

.txt-start {
    text-align: start;
}

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.dr-col {
    display: flex;
}