* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout classes */
.row {
    display: flex;
}


.col-100 {
    width: 100%;
}


.col-33 {
    width: calc(100% / 3);
    border: 1px solid black;
    margin: 20px;
}

.col-33-ut {
    width: calc(100% / 3);
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}

.col-17 {
    width: calc(100% / 6);
}

.col-20 {
    width: calc(100% / 5);
}

/* styling classes */


footer {
    background-color: black;
}

body {
    font-family: "Open Sans", sans-serif;
}

.list-header {
    display: flex;
    list-style: none;
    align-items: center;
}

.list-header li {
    padding: 20px;
}

.list-footer {
    list-style: none;
    padding-top: 100px;
    padding-right: 50px;
}

.list-footer li {
    padding-top: 10px;
}

.list-footer li:first-child {
    padding-bottom: 20px;
}

.advantage-list {
    list-style: none;
}

.advantage-list li {
    padding: 10px;
}

.cnt-right {
    justify-content: right;
}

h1 {
    text-align: start;
    font-size: 70px;
}

.btn {
    padding: 10px 15px;
    border-style: none;
}

.bt-blue {
    background-color: #0161FF;
}

.ft-white {
    color: #fff;
}

.wrap-lightbluetop {
    height: 650px;
    background-color: #B4D0E7;
    margin-bottom: 150px;
}

.wrap-lightbluebottom {
    background-color: #B4D0E7;
    margin-bottom: 100px;
    padding: 100px;
}

/* utilities */
.content-center {
    width: 1200px;
    margin: 0 auto;
}

.txt-start {
    text-align: start;
}

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.dr-col {
    display: flex;
}

.br-line {
    border: 1px solid black;
}

#jumbo {
    width: 100%;
}

.contenuto {
    margin: 20px 40px 80px;
}

.subscribe-plan {
    padding: 50px 20px;
    font-size: xx-large;
}

.choice {
    margin-left: 20px;
    margin-right: 5px;
}

.quadrati {
    width: calc(100% / 3);
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.full-container {
    width: 100%;
}

.quadri img {
    filter: invert(1)
}

.quadri {
    width: calc(100% / 2);
    height: calc(100% / 2);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}


img {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;

}

.quadro {
    padding: 50px;
}

.hr-footer {
    width: 10%;
    margin-top: 50px;
}


.pack {
    flex-direction: column;
    margin-top: 40px;
}


.pack .fa-solid {
    display: inline-block;
}

.plan-type {
    padding: 10px 0;
}

.users-numbers {
    padding: 10px 0;
}

.storage {
    padding: 10px 0;
}

.functions {
    padding: 10px 0;
}

.mg-width {
    width: 100%;
    margin: 30px 0;
}

.mg-width-team {
    width: 100%;
    margin: 10px 0 30px;
}

.pd-bottom {
    padding-bottom: 5px;
}



.hr-20 {
    width: 20%;
    margin: 30px 0;
}

.br-line {
    border: 1px solid black;
}

.entity-list {
    color: #0161FF;
    font-weight: bolder;
    padding-right: 10px;
}

.fatturazione {
    padding-bottom: 30px;
}

.mg-20 {
    margin: 30px 0 50px;
}

.freetrial-arrow {
    font-size: xx-large;
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
}

.team-content {
    display: flex;
    padding: 20px;
}

.txt-enterprise {
    padding: 10px 0 40px;
}

.row-team {
    margin: 50px 0 100px;
}

.space {
    margin: 50px 0 200px;
}

.pd-top {
    padding-top: 30px;
}

#btn-findpartner {
    padding: 10px;
    background-color: #fff;
    font-size: x-large;
    margin-top: 100px;
}

.tools {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.client-info {
    font-size: larger;
    padding: 0px 20px 80px;
}

#designit-describe {
    background-color: #F5F5F5;
}

#designit {
    background-color: #A2D39B;
    border: 10px solid #D2E9CD;
}

#asu {
    background-color: #60092B;
}

#uf {
    background-color: #0093CE;
}

#topps {
    background-color: #FF1B1C;
}

#wbr {
    background-color: #D50020;
}

#hearts {
    background-color: #B4D0E7;
}

#lonely-planet {
    background-color: #0D2381;
}

#clear-channel {
    background-color: #FFD830;
}


.answers {
    list-style: none;
    margin-bottom: 100px;
}

.answers li {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.more-answer {
    padding-bottom: 15px;
    margin-left: 200px;
    font-size: xx-large
}

.language {
    color: #999999;
    padding: 20px 0 50px;

}